@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: #E5E5E5;
}

.navbarRight{
   width: 100%;
  justify-content: flex-end;
}
.navbarItem{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
.listItem{
  padding-left: 32px;
  padding-top: 25px;
}
.listItem .navLinkItem{
font-family: Mulish;
font-size: 21px;
font-style: normal;
font-weight: 700;
color: black;
line-height: 26px;
letter-spacing: 0em;
text-decoration: none;
text-align: center;
border-bottom: none; 
}
.navLinkItem:hover{
  color: red !important;
  border-bottom: none;
  list-style: none;
}
.listItem .navLinkItem.active{
  color: red !important;
}

.bg-image{
  background: linear-gradient(90deg, rgba(20, 25, 37, 0) 0%, #131824 30.57%);
  
}
